:root {
  --r-heading-text-transform: none ;
  --r-background-color: #1a1626;
  --r-main-font-size: 40px;
}

.slides {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.reveal.ready .slides {
  opacity: 1;
}

.backgrounds {
  background: #1a1626;
}

.reveal.overview section {
  background: #1a1626;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.slides {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
.reveal.ready .slides {
  opacity: 1;
}

.reveal .padded img {
  border: none;
  margin: 0;
  max-width: 100%;
  max-height: 100%;
}

.row {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
}

.reveal .slides > section,
.reveal .slides > section > section {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-perspective: 1000px;
          perspective: 1000px;
}

p.small {
  font-size: 75%;
}

p {
  margin: var(--r-block-margin) 0;
}

.reveal .slides ul li, .reveal .slides ol li {
  margin-top: 0.4em;
  margin-bottom: 0.2em;
}

small code {
  font-size: 75%;
  background: #222D2F;
  color: #ddd;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}

p a code {
  background: none;
  padding: 0;
  text-decoration: underline;
}

p a[href*=html], p a[href*=http] {
  text-decoration: underline;
}

.reveal pre {
  font-size: 0.5em;
}

.reveal table.imagetable thead {
  display: none;
}

a.github-corner {
  position: absolute;
  z-index: 1;
  width: clamp(50px, 8vmax, 80px);
  line-height: 0;
  color: rgba(255, 255, 255, 0.5);
}

a.github-corner:hover {
  color: white;
}

.reveal pre {
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  font-size: 0.5em;
}

p code, p kbd, ul code {
  background: rgba(180, 180, 180, 0.2);
  font-size: 0.8em;
  padding: 5px 10px;
  border-radius: 4px;
}

p kbd, ul kbd {
  font-family: monospace;
}

.reveal .code-wrapper, pre, pre code {
  white-space: pre-wrap !important;
}

em[class*=animate] {
  display: inline-block;
}

.reveal img.demoimg {
  width: 140px;
  height: 140px;
  max-width: 100%;
  max-height: 100%;
  margin: 0.2em;
}

.centerblock {
  height: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
}

ol.twocol {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  counter-reset: item;
  width: 80%;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
ol.twocol li {
  counter-increment: item;
  padding-left: 1.7em;
}
ol.twocol li:before {
  content: counter(item) ".";
  margin-left: -1.7em;
  margin-right: 0.5em;
  display: inline-block;
  width: 1.2em;
  text-align: right;
}