.slides {
  opacity: 0;
  -webkit-transition: opacity .5s ease;
  -o-transition: opacity .5s ease;
  transition: opacity .5s ease; }

.reveal.ready .slides {
  opacity: 1; }

.backgrounds {
  background: #1a1626; }

a.github-corner {
  position: absolute;
  z-index: 1;
  width: clamp(50px, 8vmax, 80px);
  line-height: 0;
  color: rgba(255, 255, 255, 0.5); }

a.github-corner:hover {
  color: white; }
