include /demo/html/_templates/includes/_mixins

block variables
	- let page = {title: "The title", language: "en", author: "Authorname"}

+html
	include /demo/html/_templates/includes/_head
	body
		block content
		include /demo/html/_templates/includes/_scripts