@import 'base/_base-layout';
@import 'base/_base-type';
@import 'base/_base-code';

:root {
	--r-background-color: #051525;
	--r-heading-text-transform: none;
	--r-heading1-size: 2.7em;
	--r-main-font-size: 36px;
	--r-block-margin: 1.8rem;
	--code-full-bg: #142433;
	--code-rgba-bg: rgba(91, 102, 112, 0.3);

}

// LISTS

.reveal .slides ul li, .reveal .slides ol li {
	margin-top: 0.4em;
	margin-bottom: 0.2em;
}

// COLOR

.has-light-background {
    --r-link-color :  var(--r-link-color-dark);
    --r-link-color-hover :  #0373bd;
}

// EMBEDDED DEMO

.demoembed {
	width: 768px; height: 400px; margin: 64px auto;
}

.reveal.embedded {
	border: 4px solid transparent;
	border-radius: 8px;
	&:not(.focused) {
		cursor: pointer;
	}
	&.focused {
		border-color: #42affa;
		box-shadow: 0 4px 16px rgba(#051525, 0.3)
	}

	.progress {
		background: rgba(#42affa, 0.3);
		font-size: 10px;
		height: 0.3em;
		border-radius: 0.25em;
		left: 0.5em;
		bottom: 0.5em;
		right: 0.5em;
		width: calc(100% - 1em);
		overflow: hidden;
	}
}