@import 'base/_base-layout';
@import 'base/_base-type';
@import 'base/_base-code';

:root {
	--r-background-color: #051525;
	--r-heading-text-transform: none;
	--r-heading1-size: 2.7em;
	--r-main-font-size: 36px;
	--r-block-margin: 1.8rem;
	--code-full-bg: #142433;
	--code-rgba-bg: rgba(50, 65, 80, 0.4);
}

// LISTS

.reveal .slides ul li, .reveal .slides ol li {
	margin-top: 0.4em;
	margin-bottom: 0.2em;
}

// COLOR

.has-light-background {
    --r-link-color :  var(--r-link-color-dark);
    --r-link-color-hover :  #0373bd;
}

