a.github-corner {
    position: fixed;
    z-index:2;
    top: 0;
    left: 0;
    .rtl & {
        left: auto;
        right: 0;
    }
    width:clamp(50px, 8vmax, 80px);
    line-height:0;
    &.bottom {
        top: auto;
        bottom: 3px;;
    }

    opacity: 0.5;
    transition: opacity .3s;
    color: var(--c-theme-color, white);
}

a.github-corner:hover{
    color: var(--c-theme-color, white);
    opacity: 1;
}