@use 'includes/_base';
@use 'includes/_embedded';
@use 'includes/_githubcorner';
@use 'includes/_indexpage';

// Appearance demo only styles

.demoblock {
	background: var(--code-full-bg);
	border-radius: 0.5rem;
	padding: 0.5em;
	ul.menu li {
		margin: 0;
	}
	ul.menu.tocstyle {
		width: 97%;
	}
}

img {
	border-radius: 5%;
	box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.25);
	width: 3.5em;
	height: 3.5em;
	max-width: 100%;
	max-height: 100%;
}

.row.fivegrid {
	display: grid;
	width: 82%;
	margin: auto;
	margin: var(--r-block-margin) auto;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 1em;
}

.reveal img.demoimg {
	width: 3.5em;
	height: 3.5em;
	max-width: 100%;
	max-height: 100%;
	margin: 0.4em;
	border-radius: 5%;
	&.smallcircle {
		margin: 0.4em;
		width: 3em;
		height: 3em;
		border-radius: 50%;
	}
}

.row.smallcircles {
	grid-gap: .5em;
	width: 75%;
}


.title {
	font-size: 3em;
	font-weight: bold;
}
.subtitle {
	font-size: 1.5em
}