extends templates/layouts/_reveal.pug

append variables
	- presentation.title = presentation.title + ": using Markdown"

block slides
	include slides/_slides-markdown

block beforeslides
	+badge(plugin.name.toLowerCase(), 'bottom')

block append scripts
	+revealsrc("script", "plugin/markdown/markdown.js")
	+revealsrc("script", "plugin/highlight/highlight.js")

	if process.env.NODE_ENV === 'production'
		script(src=`./plugin/${plugin.name}/${plugin.name}.js`)
		script.
			Reveal.initialize({
				margin: 0.1, maxScale: 1.8, width: 1080, height: 700,
				history: true, center: true, controlsTutorial: false,
				plugins: [ RevealMarkdown, RevealHighlight, Appearance ],
				appearance: {
					appearparents: true,
					hideagain: true,
					appearevent: 'auto',
					autoappear: true,
					autoelements: {'ul li': 'animate__fadeInLeft'},
					compatibility: false
				}
			});
	else
		script(type="module").
			import Appearance from '@/plugin/js/index';
			Reveal.initialize({
				margin: 0.1, maxScale: 1.8, width: 1080, height: 700,
				history: true, center: true, controlsTutorial: false,
				plugins: [ RevealMarkdown, RevealHighlight, Appearance],
				appearance: {
					appearparents: true,
					hideagain: true,
					appearevent: 'auto',
					autoappear: true,
					autoelements: {'ul li': 'animate__fadeInLeft'},
					compatibility: false,
					cssautoload: false
				}
			});

