// TYPOGRAPHY

.reveal pre {
	font-size: calc(0.5 * var(--r-main-font-size));
}


.small, .reveal small {
	font-size: calc(0.7 * var(--r-main-font-size));
	code {
		font-size: 0.7em;
	}
}
p {
	code {
		font-size: 0.7em;
	}
}
