// CODE

.reveal code.hljs {
	background: var(--code-full-bg);
	border-radius: 0.5em;
	padding: 0.5em;
	white-space: pre-wrap;

	td {
		line-height: 1.4;
	}
}

p.code, p code, small code, .small code, li code {
	background: var(--code-rgba-bg);
	padding: 0.15em 0.25em;
	border-radius: 0.25em;
}

.reveal pre {
	width: 100%;
}

.reveal pre code {
	display: block;
	padding: 5px;
	overflow: auto;
	max-height: 400px;
	word-wrap: normal;
}
