
// EMBEDDED DEMO

.embeddemo {
	margin: 0 auto;
	padding: 64px 128px;
	display: flex;
	flex-direction: column;
	gap: 64px;
	align-items: center;
}

.reveal.embedded {
	width: 100%;
	max-width: 768px;
	min-width: 390px;

	height: 400px; 

	border: 4px solid transparent;
	border: 1px solid white;
	border-radius: 8px;

	
	&:not(.focused) {
		cursor: pointer;
	}

	&:fullscreen.focused {
		border-color: transparent;
		box-shadow:  0 4px 16px black;
	}
	&.reveal-scroll {
		height: 400px; 
	}

	.progress {
		background: rgba(#4499EE, 0.3);
		font-size: 10px;
		height: 0.3em;
		border-radius: 0.25em;
		left: 0.5em;
		bottom: 0.5em;
		right: 0.5em;
		width: calc(100% - 1em);
		overflow: hidden;
	}

	&:hover {
		border-color: var(--r-link-color);
	}
	&.focused {
		border-color: transparent;
		box-shadow:  0 0 0px 4px var(--r-link-color), 0 4px 16px black;
	}

	&:not(.focused) {
		&:not(:hover) {
			--r-link-color: gray;
			opacity: 0.8;
			.progress {
				background: rgba(gray, 0.3);
			}
		}
	}
}