a.github-corner {
    position: sticky;

    border: none;
    pointer-events: initial;
    z-index: 2;
    padding: 0;
    top: 0;
    display: flex;
	flex-direction: column;
    line-height: 0;
    width: max-content;
    height: max-content;

    .rtl & {
        left: auto;
        margin: 0 0 0 auto;
        right: 0;
    }

    &.bottom {
        position: sticky;
        top: 100%;
        margin-top: auto;
        top: calc(100% - 78px );
    }

    opacity: 0.5;
    transition: opacity .3s;
    color: var(--r-heading-color, white);

    .reveal.embedded &,
    .reveal-viewport.reveal-scroll & {
        display: none
    }

    svg {
        line-height: 0;
        width: 75px;
        height: 75px;
    }

    html.print-pdf & {
        display: none;
    }
}

a.github-corner:hover{
    color: var(--r-heading-color, white);
    opacity: 1;
}