// TYPOGRAPHY

.reveal pre {
	font-size: calc(0.5 * var(--r-main-font-size));
}


.small, .reveal small {
	font-size: calc(0.7 * var(--r-main-font-size));
	margin: var(--r-block-margin) 0;
	code {
		font-size: 0.8em;
	}
}
p {
	code {
		font-size: 0.8em;
	}
}

